@import 'hack.css';

.avatar {
  width: 150px;
  border-radius: 50%;
}

.special-cell {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.special-cell > a {
  margin-top: 5px;
}

.dark-grey {
  background-color: #1D2021;
  color: #A89984;
}

a {
  color: #FB543F;
  border-bottom-color: #FB543F;
}

a:hover {
  background-color: #FB543F;
  color: #fff;
}

.dark-grey a {
  color: #FB543F!important; /* sorry */
}

.dark-grey a:hover {
  color: #fff!important; /* sorry */
}

.hack h1 {
  font-size: 1.3rem;
}

.hack h2, .hack h4 {
  font-size: 1.1rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.blog-entry blockquote {
  margin-bottom: 0;
}

.dark-grey code {
  font-weight: 700;
  color: #FAC03B;
}

.blog-item {
  margin-bottom: 5px!important;
}
