---
layout: index.hbs
title: 'blog'
description: 'Flowers blog'
---

<div class="grid">
    <div class="cell -12of12 content">
      <ul class="blog-items">
        {{#each collections.posts}}
          <li class="blog-item">
            <div class="blog-item-heading"><a href={{sanitizePath this.path}}>{{this.title}}</a></div>
            <span class="blog-item-excerpt">{{excerpt this.contents}}</span>
          </li>
        {{/each}}
      </ul>
    </li>
</div>