---
layout: index.hbs
title: 'contact'
description: 'Find my contact information here'
---
<div class="content">
    <h1>Contact</h1>
    <div class="grid">
        <div class="cell -8of12">
            <h2>Information</h2>
            <p>If you get an email from me without my signature it is not me. My public key can be found <a href="https://flower.wtf/assets/pgp/pub.key">here</a></p>
            <p>My fingerprint is <code>83A0 6E30 AA2B E170 5817 6226 7A0B 4E86 F88B 45C3</code></p>
        </div>
        <div class="cell -4of12">
            <h2>Links</h2>
            <h4>contact</h4>
            <ul>
                <li>email: the@flower.wtf</li>
                <li>discord: flowergod#0001</li>
            </ul>
            <h4>socials</h4>
            <ul>
                <li><a href="https://twitter.com/empyreanflower">twitter</a></li>
                <li><a href="https://github.com/TheUnitedStatesOfAmerica">github</a></li>
                <li><a href="https://gitlab.com/TheFlower">gitlab</a></li>
            </ul>
        </div>
    </div>
</div>