---
layout: index.hbs
title: 'home'
description: 'Home page of Flowers website'
---

<div class="grid">
    <div class="cell -3of12 content special-cell"><img class="avatar" src="./assets/img/avatar.webp" /><br /><a class="justify-content-center" href="/contact">Contact me</a></div>
    <div class="cell -9of12 content">
        <h1>Flower</h1>
        <h2>supreme edgelord</h2>
        <h4>what i do</h4>
        <ul>
            <li>rust, typescript, go, kotlin</li>
            <li>big data, machine learning</li>
            <li>devops, docker, kube, CI/CD</li>
            <li>known for my subpar react work</li>
            <li>maker of music, see <a href="https://soundcloud.com/empyreanflower">here</a></li>
            <li>pilot</li>
            <li>gamer extraordinaire, 4720 peak OW, GE CSGO, FACEIT challenger</li>
            <li>2 time back to back WGL world champion</li>
            <li>play in black/death metal bands of varying success</li>
            <li>session guitarist / drummer</li>
        </ul>
        <h4>current and previous work</h4>
        <ul>
            <li><a href="https://sa-mp.com/">samp</a>-<a href="https://www.jc-mp.com/">jcmp</a>-<a href="https://mtasa.com/">mta</a></li>
            <li><a href="https://dabbot.org/">dabbot</a></li>
            <li><a href="https://store.steampowered.com/app/224580/Arma_II_DayZ_Mod/">dayzmod</a></li>
            <li>founder of the gta rp concept</li>
            <li>lead contributor to global spying</li>
            <li>engineering @ facebook</li>
            <li>engineering @ nandos (current)</li>
        </ul>
    </div>
</div>