<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="author" content="Flower">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{title}} - Flower">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:site_name" content="Flower">
    <meta property="og:image" content="https://flower.wtf/assets/img/avatar.webp">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@empyreanflower">
    <meta name="twitter:title" content="{{ title }} - Flower">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="/assets/css/main.css">
    <script src="//instant.page/3.0.0" type="module" defer integrity="sha384-OeDn4XE77tdHo8pGtE1apMPmAipjoxUQ++eeJa6EtJCfHlvijigWiJpD7VDPWXV1"></script>
</head>
<body class="hack dark-grey">
    <div class="container">
        <header>
            <p><a href="/">home</a> - <a href="/blog">blog</a> - <a href="/contact">contact</a></p>
        </header>
        <main>
          {{{ contents }}}
        </main>
        <footer>
            <blockquote>&copy; {{date "now" "YYYY"}} FLOWER</blockquote>
        </footer>
    </div>
</body>

</html>